  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">E Shop.com <i>simple </i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos atque aliquid, et quia quaerat molestias, nemo harum soluta ut molestiae quidem repellendus quisquam magnam dolorum, asperiores aspernatur vitae repellat assumenda!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">Smart Phone</a></li>
            <li><a href="#">Camera</a></li>
            <li><a href="#">Tablets</a></li>
            <li><a href="#">Laptop</a></li>
            <li><a href="#">Mother Board</a></li>
            <li><a href="#">Graphic Card</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">E Shop</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa-brands fa-dribbble-square"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>