
<div class="container-fluid" style="background-color: gray;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Smart Phone</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">09</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Motorola Edge 30 Pro</span>
                                <span class="widget-49-meeting-time">Newly Released</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Snapdragon 8Gen1</span></li>
                            <li class="widget-49-meeting-item"><span>120Hz Refresh Rate</span></li>
                            <li class="widget-49-meeting-item"><span>50 MP Main Camera</span></li>
                        </ol>
                        <div>
                            <img src="https://motorolaroe.vtexassets.com/arquivos/ids/156743-800-800?v=637810603425830000&width=800&height=800&aspect=true" style="height:500px;" width="500px">
                        </div>
                        <div class="widget-49-meeting-action">
                            <a href="https://www.motorola.in/smartphones-motorola-edge-30-pro/p" class="btn btn-sm btn-flash-border-primary">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Camera</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">13</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Nikon D780</span>
                                <span class="widget-49-meeting-time">Newly Released</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Superb image quality</span></li>
                            <li class="widget-49-meeting-item"><span>AF Evolution</span></li>
                            <li class="widget-49-meeting-item"><span>Expanded Image-Making Potential</span></li>
                        </ol>
                        <div>
                            <img src="https://www.nikon.co.in/tmp/Asia/4016499630/3857477713/365508689/3015334490/1054978028/626028340/2580402099/3353927964/1334408982.png" style="height:500px;" width="500px">
                        </div>
                        <div class="widget-49-meeting-action">
                            <a href="https://www.nikon.co.in/en_IN/product/digital-slr-cameras/d780#features_explained/3" class="btn btn-sm btn-flash-border-warning">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Laptop</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-success">
                                <span class="widget-49-date-day">22</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">ASUS ROG Zyphyrus M16</span>
                                <span class="widget-49-meeting-time">Newly Released</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>NVIDIA® GeForce RTX™ 3080 Ti Laptop GPU</span></li>
                            <li class="widget-49-meeting-item"><span>Windows 11 Home</span></li>
                            <li class="widget-49-meeting-item"><span>12th Gen Intel® Core™ i9</span></li>
                        </ol>
                        <div>
                            <img src="../../assets/h7.png" style="height:500px;" width="450px">
                        </div>
                        <div class="widget-49-meeting-action">
                            <a href="https://rog.asus.com/in/laptops/rog-zephyrus/rog-zephyrus-m16-2022-series/" class="btn btn-sm btn-flash-border-success">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>