<!--Validators are rules which an input control has to follow. 
    If the input doesn’t match the rule then the control is said to be invalid.
Angular comes with the small set of prebuilt validators to match the once we can 
define via standard HTML 5 attributes, namely required, minlength, maxlength and 
pattern which we can access from the Validators class in @angular/forms library.
STEP 1:ng g c formdemo
STEP 2:app.module.ts->import { ReactiveFormsModule } from '@angular/forms';
STEP 3:formdemo.component.ts ->import { Validators } from '@angular/forms';-->

<!---->
<div class="vedio">
<video autoplay loop >
    <source type="video/mp4" src="https://1.dam.s81c.com/public/content/dam/worldwide-content/homepage/ul/g/c0/f7/think2021-registration-masthead-banner-bg-new.webm">
</video>
</div>
<div class="container" style="border-radius: 25px; border: 3px solid black; width: 400px; background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); margin-top: 10px;"id="1"   >
  <div class=" "  >
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;">Signup</h4>
      
        <form [formGroup]="myForm" novalidate>
            <div class="form-group">
              <label ><b>Name</b></label>
              <!--is-invalid class makes control border color red, as well as it will show the invalid-feedback division.
                is-valid class makes control border color green.-->
              <input type="text" class="form-control" formControlName="Name" [ngClass]="{'is-invalid': Name.errors && (Name.touched || Name.dirty), 'is-valid':Name.valid}"   >
              <!--using visual feedback-->
              <div class="invalid-feedback" >
                  <!--*ngIf Directive-->
                <strong *ngIf="Name.errors?.required">Name is required</strong>
                <strong *ngIf="Name.errors?.minlength">Name length must be greater than {{Name.errors?.minlength.requiredLength}} character. {{Name.errors?.minlength.requiredLength - Name.errors?.minlength.actualLength}} more character required. </strong>
              </div>
            </div>
            <div class="form-group ">
              <label><b>Email</b></label>
              <input type="text" class="form-control" formControlName="Email" [ngClass]="{'is-invalid': Email.errors && (Email.touched || Email.dirty)}">
              <div class="invalid-feedback" >
                <strong>Invalid Email </strong>   
              </div>
            </div>
            <div class="form-group">
                <label><b>Mobile number: </b></label>
                <input type="text" formControlName="Phonenumber" class="form-control mb-2">
                <div *ngIf="Phonenumber.touched && Phonenumber.invalid" class="alert alert-danger">
                  <div *ngIf="Phonenumber.errors?.required">Please enter mobile number</div>
                  <div *ngIf="Phonenumber.errors?.pattern">Mobile number is not 10 digit</div>
                </div>
              </div>
            <div class="form-group ">
                <label for="name"><b>Password</b></label>
                <input type="password" class="form-control" formcontrolname="password">
                <div *ngif="submitted && formdemo.get('password').errors" class="alert alert-danger">
                  <div *ngif="formdemo.get('password').errors.required">
                    Password is required
                  </div>
                </div>
            </div>
            <div class="form-group">
                <label for="name"><b>Confirm Password</b></label>
                <input type="password" class="form-control" formcontrolname="confirmPassword">
                <div *ngif="submitted && formdemo.get('confirmPassword').errors" class="alert alert-danger">
                  <div *ngif="formdemo.get('confirmPassword').errors.required">
                    Confirm Password is required
                  </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-default" >Reset</button>
        
        </div>
        </form>    
  </div>
</div>
</div>